<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrito de Compra</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <h1 class="mt-2">Carrito de Compra</h1>
        <table class="table mt-2">
            <thead>
                <tr>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carrito.items %}
                    {% for key, value in request.session.carrito.items %}
                        <tr>
                            <td>{{ value.nombre }}</td>
                            <td>{{ value.precio }}</td>
                            <td>
                                {{ value.acumulado }}
                                <a href="{% url 'Add' value.producto_id %}" class="btn btn-dark btn-sm ml-1">+</a>
                                <a href="{% url 'Sub' value.producto_id %}" class="btn btn-dark btn-sm ml-1">-</a>
                            </td>
                            <td>
                                <a href="{% url 'Del' value.producto_id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">El carrito está vacío.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <a href="{% url 'CLS' %}" class="btn btn-danger">Vaciar Carrito</a>
        <a href="{% url 'home' %}" class="btn btn-primary">Continuar Comprando</a>
    </div>
</body>
</html>
