<div class="alert alert-primary" role="alert">
    <h4 class="text-center">Carrito</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carrito.items %}
                {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td>{{ value.nombre }}</td>
                        <td>{{ value.precio }}</td>
                        <td>
                            {{ value.acumulado }}
                            <a href="{% url 'Add' value.producto_id %}" class="btn btn-dark btn-sm ml-1">+</a>
                            <a href="{% url 'Sub' value.producto_id %}" class="btn btn-dark btn-sm ml-1">-</a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">
                        <div class="alert alert-danger text-center">Sin productos</div>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="3" class="text-right"><strong>Total:</strong></td>
                <td>$ {{ total_carrito }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>

<div class="row text-center">
    <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
    <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
</div>
