{% extends 'core/base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<h3>Carrito</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Productos</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                {% for producto in productoss %}
                <div class="col-12 mb-3">
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.categoria }}</p>
                            <p class="card-text">{{ producto.precio }}</p>
                            <a href="{% url 'Add' producto.id %}" class="btn btn-primary">Agregar al Carrito</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            {% include 'carrito/carrocompra.html' %}
        </div>
    </div>
</div>
{% endblock %}
